 {%load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<title>Menambahkan Stasiun</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <style type="text/css">
    	.container{
    		font-family: 'Montserrat', sans-serif;
    	}
    </style>
</head>
<body>
		<div class="container">
			<br>
			<div class="section-header">
				<h3>Form Penambahan Stasiun</h3>
			</div>
			<br>
			<div class="row">
				<div class="col-md-6">
					<form>
						<div class="form-group">
						    <label for="exampleFormControlInput1">Nama Stasiun</label>
						    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ex: Stasiun Basdat Depok 1">
						</div>
					</form>
					<div class="form-group">
					    <label for="exampleFormControlTextarea1">Alamat</label>
					    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Kukusan Beji Depok"></textarea>
					 </div>
					<form>
						 <div class="form-group">
						    <label for="exampleFormControlInput1">Latitude</label>
						    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
						</div>
					</form>
					<form>
						 <div class="form-group">
						    <label for="exampleFormControlInput1">Longitude</label>
						    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
						</div>
					</form>
					<button type="button" class="btn btn-outline-success">Success</button>
				</div>
			</div>
		</div>
</body>
</html>