{%load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Daftar Sepeda</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <style type="text/css">
    	.container{
    		font-family: 'Montserrat', sans-serif;
    	}
    </style>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<br>
			<h1> Daftar Sepeda</h1>
			<br>
			<table class="table table-hover">
			 	<thead>
			    	<tr>
			     		<th scope="col">Nomor</th>
				    	<th scope="col">Merk</th>
				      	<th scope="col">Jenis</th>
				      	<th scope="col">Stasiun</th>
				      	<th scope="col">Status</th>
				      	<th scope="col">Penyumbang</th>
				      	<th scope="col">Action [admin]</th>
				      	<th scope="col">Action [anggota]</th>
			    	</tr>
			  	</thead>
			  	<tbody>
			    	<tr>
				      	<th scope="row">13u78q</th>
				      	<td>BMX</td>
				      	<td>Dewasa</td>
				      	<td>Stasiun Basdat Depok 1</td>
				      	<td>Tersedia</td>
				      	<td>-</td>
				      	<td>
				      		<button type="button" class="btn btn-secondary btn-sm">Delete</button>
				      		<br>
				      		<br>
				      		<button type="button" class="btn btn-secondary btn-sm">Update</button>
				      	</td>
				      	<td>
				      		<button type="button" class="btn btn-secondary btn-sm">Pinjam</button>
				      		<br><br>
				      	</td>
			    	</tr>
			    	<tr>
			      		<th scope="row">dst</th>
			      		<td> </td>
			      		<td>dst</td>
			      		<td>dst</td>
			      		<td></td>
			      		<td>dst</td>
			      		<td>dst</td>
			      		<td>dst</td>
			    	</tr>
			  	</tbody>
			</table>
		</div>
	</div>
</body>
</html>