{%load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <style type="text/css">
    	.container{
    		font-family: 'Montserrat', sans-serif;
    	}
    </style>
	<title>Mengupdate Sepeda</title>
</head>
<body>
		<div class="container">
			<br>
			<div class="section-header">
				<h3>Form Update Sepeda</h3>
			</div>
				<br>
			<div class="row">
				<div class="col-md-6">
					<form>
						<div class="form-group">
						    <label for="exampleFormControlInput1">Merk Sepeda</label>
						    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ex: Deluxe Touring Bike">
						</div>
					</form>
					<form>
						 <div class="form-group">
						    <label for="exampleFormControlInput1">Jenis Sepeda</label>
						    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ex: Global Bike Inc.">
						</div>
					</form>
					 <div class="form-group">
					    <label for="exampleFormControlSelect1">Status</label>
					    <select class="form-control" id="exampleFormControlSelect1">
					      <option>Tersedia</option>
					      <option>Tidak tersedia</option>
					    </select>
					</div>
					 <div class="form-group">
					    <label for="exampleFormControlSelect1">Stasiun</label>
					    <select class="form-control" id="exampleFormControlSelect1">
					      <option>Basdat Depok 1</option>
					    </select>
					</div>
					 <div class="form-group">
					    <label for="exampleFormControlSelect1">Penyumbang</label>
					    <select class="form-control" id="exampleFormControlSelect1">
					      <option>Mamat</option>
					      <option>Jaja</option>
					      <option>Pajul</option>
					      <option>Kayzu</option>
					    </select>
					</div>
					<button type="button" class="btn btn-outline-info">Update</button>
				</div>
			</div>
		</div>
</body>
</html>