{%load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="base">
	<title>Menambahkan Voucher</title>
</head>
<body>
	{% include 'navbar.html'% }
<div class="container">
				<br>
				<br>
			<div class="row">
				<div class="col-md-10">
					<h1>Form Penambahan Voucher</h1>
					<form>
						<div class="form-group">
						    <label for="exampleFormControlInput1">Nama</label>
						    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ex: Budi">
						</div>
					</form>
					<div class="form-group">
					    <label for="exampleFormControlTextarea1">Kategori</label>
					    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Kukusan Beji Depok"></textarea>
					 </div>
					<form>
						 <div class="form-group">
						    <label for="exampleFormControlInput1">Nilai Poin</label>
						    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ex: 69">
						</div>
					</form>
					<form>
						 <div class="form-group">
						    <label for="exampleFormControlInput1">Deskripsi</label>
						    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ex: aserehe harehe">
						</div>
					</form>
					<form>
						 <div class="form-group">
						    <label for="exampleFormControlInput1">Jumlah</label>
						    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ex: 4">
						</div>
					</form>
					<button type="button" class="btn btn-outline-success">Submit</button>
				</div>
			</div>
		</div>
</body>
</html>