{%load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Daftar Voucher</title>
</head>
<body>
<div class="container">
	<br>
	<br>
	<div class="row">
		<div class="col-md-8">
			<h1> Daftar Voucher</h1>
			<table class="table table-hover">
			 	<thead>
			    	<tr>
			     		<th scope="col">ID Voucher</th>
				    	<th scope="col">Nama</th>
				      	<th scope="col">Kategori</th>
				      	<th scope="col">Nilai Poin</th>
				      	<th scope="col">Deskripsi</th>
				      	<th scope="col">Diklaim oleh</th>
				      	<th scope="col">Action [admin]</th>
				      	<th scope="col">Action [anggota]</th>
			    	</tr>
			  	</thead>
			  	<tbody>
			    	<tr>
				      	<th scope="row">1111q</th>
				      	<td>Voucher belanja</td>
				      	<td>Belanja</td>
				      	<td>300</td>
				      	<td>Gratis belanja</td>
				      	<td>-</td>
				      	<td>
				      		<button type="button" class="btn btn-secondary btn-sm">Delete</button>
				      		<button type="button" class="btn btn-secondary btn-sm">Update</button>
				      	</td>
				      	<td>
				      		<button type="button" class="btn btn-secondary btn-sm">Klaim</button>
				      	</td>
			    	</tr>
			    	<tr>
				      	<th scope="row">95675</th>
				      	<td>Voucher makan</td>
				      	<td>Makan</td>
				      	<td>100</td>
				      	<td>Makan gratis</td>
				      	<td>1w44 - nunung</td>
				      	<td>
				      		<button type="button" class="btn btn-secondary btn-sm">Delete</button>
				      		<button type="button" class="btn btn-secondary btn-sm">Update</button>
				      	</td>
				      	<td>
				      		<button type="button" class="btn btn-secondary btn-sm">Klaim</button>
				      	</td>
			    	</tr>
			    	<tr>
			      		<th scope="row">dst</th>
			      		<td> </td>
			      		<td>dst</td>
			      		<td>dst</td>
			      		<td></td>
			      		<td></td>
			      		<td>dst</td>
			      		<td></td>
			    	</tr>
			  	</tbody>
			</table>
		</div>
	</div>
</body>
</html>