{%load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Mengupdate Voucher</title>
</head>
<body>

		<div class="container">
				<br>
				<br>
			<div class="row">
				<div class="col-md-8">
					<h1>Form Update Voucher</h1>
					<form>
						<div class="form-group">
						    <label for="exampleFormControlInput1">Nama</label>
						    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ex: Voucher belanja 50.000">
						</div>
					</form>
					<form>
						 <div class="form-group">
						    <label for="exampleFormControlInput1">Kategori</label>
						    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ex: Shopping">
						</div>
					</form>
					<form>
						 <div class="form-group">
						    <label for="exampleFormControlInput1">Nilai Poin</label>
						    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ex: 5000">
						</div>
					</form>
					<form>
						 <div class="form-group">
						    <label for="exampleFormControlInput1">Deskripsi</label>
						    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ex: Beli tokopedia">
						</div>
					</form>
					<button type="button" class="btn btn-outline-info">Update</button>
				</div>
			</div>
		</div>
</body>
</html>