<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Buat Peminjaman</title>
</head>
<body>
		<div class="container">
				<br>
				<br>
			<div class="row">
				<div class="col-md-8">
					<h1>Form Buat Peminjaman</h1>
				  	<div class="form-group">
				    	<label for="exampleFormControlSelect1">Sepeda Stasiun:</label>
				    	<select class="form-control" id="exampleFormControlSelect1">
					    	<option>Sepeda Mamat</option>
					      	<option>Sepeda Jaja</option>
					      	<option>Sepeda Kayza</option>
					      	<option>Sepeda Juleha</option>
					      	<option>Sepeda Boodi</option>
				    	</select>
				  </div>
				  <button type="button" class="btn btn-outline-success">Submit</button>
				</div>
		</div>
	</div>
</body>
</html>