<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Daftar Voucher</title>
</head>
<body>
<div class="container">
	<br>
	<br>
	<div class="row">
		<div class="col-md-8">
			<h1> Daftar Peminjaman</h1>
						<table class="table table-hover">
			 	<thead>
			    	<tr>
			     		<th scope="col">No. Kartu Anggota</th>
				    	<th scope="col">Sepeda</th>
				      	<th scope="col">Stasiun</th>
				      	<th scope="col">Waktu Kembali</th>
				      	<th scope="col">Biaya</th>
				      	<th scope="col">Denda</th>
				      	<th scope="col">Action [anggota]</th>
			    	</tr>
			  	</thead>
			  	<tbody>
			    	<tr>
				      	<th scope="row">13u78q</th>
				      	<td>11244 - BMX</td>
				      	<td>637 - Stasiun X</td>
				      	<td>Stasiun Basdat Depok 1</td>
				      	<td>-</td>
				      	<td>-</td>
				      	<td>
				      		<button type="button" class="btn btn-secondary btn-sm">Kembalikan</button>
				      	</td>
			    	</tr>
			    	<tr>
					    <th scope="row">dst</th>
				      	<td></td>
				      	<td></td>
				      	<td>dst</td>
				      	<td></td>
				      	<td></td>
				      	<td>
				      		<button type="button" class="btn btn-secondary btn-sm">Kembalikan</button>
				      	</td>
			    	</tr>
			  	</tbody>
			</table>
		</div>
	</div>
</div>
</body>
</html>