{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static "lib/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static "lib/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
  <link href="{% static "lib/animate/animate.min.css" %}" rel="stylesheet">
  <link href="{% static "lib/ionicons/css/ionicons.min.css" %}" rel="stylesheet">
  <link href="{% static "lib/owlcarousel/assets/owl.carousel.min.css" %}" rel="stylesheet">
  <link href="{% static "lib/lightbox/css/lightbox.min.css" %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static "css/style.css" %}" rel="stylesheet">
  <title></title>
</head>
<body>
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="/" class="scrollto"><img src="{% static "img/logo1.png" %}" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/daftar">Daftar</a></li>
          <li><a href="/topup">TopUp</a></li>
          
          <li><a href="/">Team</a></li>
          <li><a href="/">Contact Us</a></li>
          <li><a href='/login'>Login</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header>
  <br><br><br><br>
  <div class="split left">
    <div class="centered">
      
      <h2>TopUp</h2>
      <p>Some text.</p>
    </div>
  </div>
  
  <div class="split right">
  
     <form>
      <div class="container" style="width:50%; margin-top:50%">
          <div class="form-group">
          <input type="price" class="form-control" placeholder="Nominal">
          </div>
          <button type="submit" class="btn btn-danger" style="width:100%; color:white">Submit</button>
      </div>
    </form>


<style>
  /* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  
}

/* Control the right side */
.right {
  right: 0;
  background-color: brown;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.textfield{
    width:200%;
}
</style>